body{
  background-color: aliceblue;
}
.App{
  background-color: skyblue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  margin-bottom: 0;
  overflow: auto;
}
#to-do-form{
  background-color: royalblue;
}
#to-do-form input {
  border:0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 5px;
  color: black;
}
#to-do-form input::placeholder{
  color: black;
}
#to-do-form input:focus,#to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  border-radius: 5px;
  height: 50px;
  width: 100px;
  border: 0;
  background-color: rgb(67, 169, 228);
  color: white;
  cursor: pointer;
  font-weight: bolder;
}
.footer{

  height: 50px;
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: royalblue;
  font-size: 18px;
  color: white;
}